body {
  background-color: #5DBABA;
}

main {
  color: #fff;
}

.fas {
  margin-right: 5px;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.hero {
  text-align: center;
  padding-bottom: 60px;
}

.hero__ttl {
  font-size: 40px;
  font-weight: bold;
  padding-top: 60px;
  margin-bottom: 20px;
}

.hero__note {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.hero__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__flex__link {
  background-color: #D8A344;
  padding: 20px;
  display: block;
  margin: 10px;
  border-radius: 15px;
  width: 100%;
  max-width: 360px;
  font-size: 24px;
  box-shadow: 0px 5px 0px 0px #444;
  transition: .1s;
}

.hero__flex__link:active {
  box-shadow: none;
  transform: translate3d(0, 5px, 0);
}

.questions-list {
  text-align: center;
  padding-bottom: 60px;
}

.questions-list__ttl {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.questions-list__flex {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.questions-list__flex .list {
  width: 48%;
  margin: 1%;
  background-color: #fff;
  border-radius: 15px;
}

.questions-list__flex .list__question {
  border-bottom: 1px solid #ccc;
  padding: 20px 16px;
  line-height: 1.8;
  font-weight: bold;
  color: #999;
  font-family: 'Hannotate SC',sans-serif;
}

.questions-list__flex .list__des {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 16px;
  color: #ccc;
}

.questions-list__flex .list__des__date {
  text-align: left;
}

.questions-list__flex .list__des__date span {
  display: block;
}

.questions-list__flex .list__des__date .date {
  font-size: 8px;
  margin-top: 6px;
}

.questions-list__flex .list__des .answer {
  color: #a1a1ff;
}

.questions-list__flex .list__des .answer:hover {
  opacity: 0.8;
}

@media screen and (max-width: 539px) {
  .wrapper {
    padding: 0 1rem;
  }
  .hero__flex {
    flex-direction: column;
  }
  .questions-list__flex .list {
    width: 100%;
    margin: 2% 0;
  }
}

.nazo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nazo-box__frame {
  background-color: #fff;
  border-radius: 15px;
  max-width: 580px;
  width: 100%;
  box-shadow: 0px 3px 5px 1px #888;
}

.nazo-box__frame__question {
  padding: 30px;
  color: #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 30px;
  line-height: 1.8;
  font-family: 'Hannotate SC',sans-serif;
}

.nazo-box__frame__des {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.nazo-box__frame__des p {
  color: #ccc;
}

.nazo-box__frame__hint {
  padding: 16px;
}

.nazo-box__frame__hint .hint {
  border: 1px solid #ccc;
  color: #a1a1ff;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 8px;
}

.nazo-box__frame__hint .hint:hover {
  cursor: pointer;
}

.nazo-box__frame__hint .hint__toggle {
  display: block;
}

.nazo-box__frame__hint .hint__txt {
  color: #ccc;
  font-size: 16px;
  display: none;
  margin-top: 8px;
}

.nazo-box__frame__answer {
  padding: 16px;
}

.nazo-box__frame__answer .answer {
  border: 1px solid #ccc;
  color: #ff859a;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 8px;
}

.nazo-box__frame__answer .answer:hover {
  cursor: pointer;
}

.nazo-box__frame__answer .answer__toggle {
  display: block;
  font-weight: bold;
}

.nazo-box__frame__answer .answer__txt {
  color: #ccc;
  font-size: 16px;
  display: none;
  margin-top: 8px;
}
