@charset 'utf-8';

body {
  background-color: #5DBABA;
}

main {
  color: #fff;
}

::placeholder {
  color: #bab6b6;
}

.input {
  background-color: #ebebeb !important;
  display: block;
  &:focus-visible {
    outline: 2px solid rgb(161, 161, 255);
  }
}

textarea {
  background-color: #ebebeb !important;
  display: block;
  &:focus-visible {
    outline: 2px solid rgb(161, 161, 255);
  }
}

.fas {
  margin-right: 5px;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

//トップページのcss
.hero {
  text-align: center;
  padding-bottom: 60px;
  &__ttl {
    font-size: 40px;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 20px;
  }
  &__note {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
      background-color: #D8A344;
      padding: 20px;
      display: block;
      margin: 10px;
      border-radius: 15px;
      width: 100%;
      max-width: 360px;
      font-size: 24px;
      box-shadow: 0px 5px 0px 0px #444;
      transition: .1s;
      &:active {
        box-shadow: none;
        transform: translate3d(0, 5px, 0)
      }
    }
  }
}

.questions-list {
  text-align: center;
  padding-bottom: 60px;
  &__ttl {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &__flex {
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    .list {
      width: 48%;
      margin: 1%;
      background-color: #fff;
      border-radius: 15px;
      // &:hover {
      //   background-color: rgb(247, 247, 247);
      // }
      &__question {
        border-bottom: 1px solid #ccc;
        padding: 20px 16px;
        line-height: 1.8;
        font-weight: bold;
        color: #999;
        font-family: 'Hannotate SC',sans-serif;
      }
      &__des {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 16px;
        color: #ccc;
        &__date {
          text-align: left;
          span {
            display: block;
          }
          .date {
            font-size: 8px;
            margin-top: 6px;
          }
        }
        .answer {
          color: rgb(161, 161, 255);
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 539px) {
  .wrapper {
    padding: 0 1rem;
  }

  .hero {
    &__flex {
      flex-direction: column;
    }
  }

  .questions-list {
    &__flex {
      .list {
        width: 100%;
        margin: 2% 0;
      }
    }
  }
}

footer {
  text-align: center;
  background-color: rgb(66, 66, 66);
  padding: 8px 0;
  p {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
}

//投稿個別ページのcss
.nazo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__frame {
    background-color: #fff;
    border-radius: 15px;
    max-width: 580px;
    width: 100%;
    box-shadow: 0px 3px 5px 1px #888;
    &__question {
      padding: 30px;
      color: #ccc;
      border-bottom: 1px solid #ccc;
      font-size: 30px;
      line-height: 1.8;
      font-family: 'Hannotate SC',sans-serif;
    }
    &__des {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      p {
        color: #ccc;
      }
    }

    &__hint {
      padding: 16px;
      .hint {
        border: 1px solid #ccc;
        color: rgb(161, 161, 255);
        border-radius: 15px;
        margin-bottom: 20px;
        padding: 8px;
        &:hover {
          cursor: pointer;
        }
        &__toggle {
          display: block;
        }
        &__txt {
          color: #ccc;
          font-size: 16px;
          display: none;
          margin-top: 8px;
        }
      }
    }

    &__answer {
      padding: 16px;
      .answer {
        border: 1px solid #ccc;
        color: rgb(255, 133, 154);
        border-radius: 15px;
        margin-bottom: 20px;
        padding: 8px;
        &:hover {
          cursor: pointer;
        }
        &__toggle {
          display: block;
          font-weight: bold;
        }
        &__txt {
          color: #ccc;
          font-size: 16px;
          display: none;
          margin-top: 8px;
        }
      }
    }
  }
}

//なぞなぞ作成ページcss
.make-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-top: 60px;
  margin-bottom: 40px;
}

.make-area {
  background-color: #fff;
  box-shadow: 0px 3px 5px 1px #888;
  border-radius: 15px;
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  color: #757575;
  padding: 45px 58px;
  margin-bottom: 30px;

  textarea {
    width: 100%;
    max-width: 100%;
    height: 240px;
    border-radius: 15px;
    color: #757575;
    padding: 16px;
  }

  .input {
    width: 100%;
    border-radius: 15px;
    color: #757575;
    height: 45px;
    padding: 10px;
    margin-top: 20px;
  }

  .submit {
    display: flex;
    justify-content: end;
  }

  #btn_submit {
    text-align: right;
    margin-top: 20px;
    display: block;
    height: 40px;
    border-radius: 15px;
    border: 1px solid rgb(161, 161, 255);
    background-color: #fff;
    color: rgb(161, 161, 255);
    padding: 10px;
    &:hover {
      color: #fff;
      background-color: rgb(161, 161, 255);
    }
  }

  .question {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin: 15px 0 30px;
  }
}

@media screen and (max-width: 539px) {
  .make-area {
    padding: 16px;
  }
}
